.App {
  text-align: center;
}
.cdss {

display: flex;
align-items: center;
justify-content: center;
}

.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root {
	height: 50px;
}

.MuiCardMedia-root.MuiCardMedia-media {
  display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-position: center;
	background-position: center;
	width: 100%;
	object-fit: contain;
}
.MuiButtonBase-root {
	height: 100%;
}

.MuiBox-root.css-j7qwjs {
	width: 100%;
}

.MuiToolbar-root {
	width: 100%;
}
